.textArea {
  resize: none;
  width: fill-available;
  height: 1.2em;
  font-size: 2em;
  display: block;
  background-color: #282c34;
  border: solid #4883db 2px;
  border-radius: 4px;
  color: #d3d3d3;
}

.textArea:focus {
  outline: none;
}

.submitButton {
  height: 30px;
  width: 30px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .textArea {
    animation: App-logo-spin infinite 0.1s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
