.menuContainer {
  li {
    margin: auto;
    color: #d3d3d3;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: #363e4d solid 1px;
  }
  li:hover {
    background-color: #5e6777;
  }
  margin-top: 50px;
  position: absolute;
  border-radius: 4px;
  width: 450px;
  border: #d3d3d3 solid 2px;
  font-size: 1em;
  max-height: 300px;
  overflow-y: auto;
  background-color: #3f4550;
}
.menuContainer::-webkit-scrollbar {
  display: none;
}
