.TableHeader {
  color: #d3d3d3;
  padding-left: 10px;
  padding-right: 10px;
}
.ResultsTable {
  li {
    list-style-type: none;
  }
  border-spacing: 0.5em 1em;
  margin-top: 30px;
  text-align: center;
}
th {
}

td {
  padding: 10px 0px 10px 0px;
  background-color: rgba(255, 0, 0, 0.589);
  border: solid #383535 2px;
  box-shadow: inset 0 0 6px #000;
  height: 4em;
  color: #d3d3d3;
}
