.TableHeader {
  color: #d3d3d3;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 6em;
}
.ResultsTable {
  li {
    list-style-type: none;
  }
  border-spacing: 0.5em 1em;
  margin-top: 20px;
  text-align: center;
  height: auto;
  overflow: scroll;
}
.iconCell {
  background-color: rgba(200, 200, 200, 0.589);
  box-shadow: inset 0 0 6px #000;
  padding: 10px 10px 10px 10px;
  width: 150px;
  height: 4em;
  max-height: 4em;
}
th {
}

td {
  padding: 10px 0px 10px 0px;
  background-color: rgba(255, 0, 0, 0.589);
  border: solid #383535 2px;
  box-shadow: inset 0 0 6px #000;
  width: 4em;
  height: 4em;
  color: #d3d3d3;
}
